.container {
    margin: 0 auto;

    width: 100%;
    max-width: 600px;
}

.row_container {
    display: flex;
    align-items: center;

    width: 100%;

    border-bottom: 1px solid #ddd;
}

.row_container * {
    transition: all 200ms ease-out;
}

.text_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    padding: 1em;
    background: none;

    flex: 1;

    text-decoration-line: line-through;
    text-decoration-thickness: 0.2em;
    text-decoration-color: transparent;
}

.text_input:focus {
    border: none;
    background: none;
}

.text_input__completed {
    text-decoration-color: rgba(0, 0, 0, 0.8);
}

.text_input__new_task {
    padding: 1.5em 1em;
    font-size: large;
}

.checkbox_wrapper {
    padding-left: 1em;
    flex: 0;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;

    /*border: 2px solid #49a16c;*/
    width: 1.5em;
    height: 1.5em;
    /*outline: none;*/
    /*padding: 3px;*/
    box-sizing: border-box;
    background: url("../../media/check.svg");

    opacity: 0.1;
}

.checkbox:checked {
    /*background: #49a16c;*/
    /*background-clip: content-box;*/
    opacity: 1;
}

.new_task_checkbox_offset {
    margin: 0.5em;
    width: 1.5em;
}

